*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
:root{
    --primary-color: #0087be;
    --primary-Bg: #f3f3f3;
    --primary-dark: #333;
}
a{
    text-decoration: none;
    color: inherit;
}
header{
    box-shadow: 4px 3px 2px #ccc;
    padding: 1rem 5%;
    position: sticky;
    width: 100%;
    background: var(--primary-Bg);
}
.header{
    display: flex;
    justify-content: space-between;
}
.logo{
    height: 3rem;
}
.header2{
    display: none;
}
.header ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.navlink a{
    margin: 0.5rem 1rem 0 1rem;
    font-weight: 500;
    text-transform: capitalize;
}
.navlink a:hover{
    color: var(--primary-color);
    text-transform: uppercase;
}
.social-links a{
    margin: 0 0.5rem;
}
.social-links a:hover{
    transform: scale(1.2);
}
.social-links a:nth-child(1){
    color: #3b5998;
}
.social-links a:nth-child(2){
    color: #00acee;
}
.social-links a:nth-child(3){
    color: #27b953;
}
.social-links a:nth-child(4){
    color: #0e76a8;
}
.social-links a:nth-child(5){
    color: #333;
}
.home{
    height: 90vh;
    width: 100%;
    background: url(./Images/ilya-pavlov-OqtafYT5kTw-unsplash1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slide{
    width: 100%;
    height: 100%;
    display: flex;
}
.home .slide{
    background: rgba(0,0,0,0.9);
}
.container{
    width: 80%;
    margin: auto;
}
.caption{
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    color: var(--primary-Bg);
}
.caption h1{
    font-size: 3rem;
}
.caption h1 span, .about-head h1 span{
    text-transform: uppercase;
    color: var(--primary-color);
}
.caption p{
    width: 80%;
    margin: 2rem auto;
    color: #7e7d7d;
    line-height: 1.5rem;
}
.caption a{
    background: #1ea1d4;
    padding: 1rem 2rem;
    border-radius: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}
.about-us{
    height: 100%;
    background: var(--primary-Bg);
    width: 100%;
}
.about-cont, .services-cont{
    width: 80%;
    margin: auto;
}
.about-head{
    text-align: center;
}
.about-head h1{
    text-transform: uppercase;
    font-size: 3rem;
}
.about-side, .service-side, .contact-info{
    display: flex;
}
.about-detail{
    width: 70%;
    padding: 1rem;
}
.about-img{
    height: 50vh;
    margin-right: 10%;
}
.about-detail h3{
    text-transform: capitalize;
}
.contact1, .contact2{
    font-size: 0.9rem;
    color: #7e7d7d;
    width: 50%;
    padding: 1rem 0;
    line-height: 2rem;
}
.down-cv{
    color: var(--primary-Bg);
    background: var(--primary-color);
    padding: 0.7rem 1.5rem;
    font-weight: 500;
    border-radius: 1rem;
    border: none;
    text-transform: capitalize;
}
.down-cv:hover, .read-more:hover, .sub-form button:hover{
    color: var(--primary-color);
    background: transparent;
    border: 2px groove var(--primary-color);
}
.services, .portfolio, .about-us, .contact-us{
    padding: 4.5rem 0 0;
    margin-bottom: 2rem;
}
.service-side{
    display: flex;
    margin: 5rem 0 0;
    justify-content: space-between;
}
.box{
    height: 20rem;
    width: 30%;
    box-shadow: 4px 3px 2px #ccc;
    border-radius: 0.5rem;
}
.box .slide > div{
    margin: auto;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.nomba{
    background: var(--primary-Bg);
    border-radius: 50%;
    width: 2rem;
    padding: 4px 0.7rem;
    height: 2rem;
    margin: 0.5rem auto;
}
.box h1{
    text-transform: uppercase;
    text-align: center;
    color: #333;
}
.box p{
    text-align: center;
    color: #7e7d7d;
    font-size: 0.9rem;
}
.service-img{
    margin: 0.5rem auto;
    height: 5rem;
}
.portfolio{
    background: var(--primary-Bg);
}
.project{
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
}
.project1{
    margin: 1rem 0;
    text-align: center;
}
.project1 div{
    margin: 1rem 0;
}
.visit-link{
    background: var(--primary-color);
    color: var(--primary-Bg);
    text-transform: uppercase;
    font-weight: 500;
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
}
.visit-link2{
    background: var(--primary-dark);
    color: var(--primary-Bg);
    text-transform: uppercase;
    font-weight: 500;
    margin-left: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}
.visit-link:hover{
    color: var(--primary-color);
    background: transparent;
    border: 1px groove var(--primary-color);
}
.visit-link2:hover{
    color: var(--primary-dark);
    background: transparent;
    border: 1px groove var(--primary-dark);
}
.preview{
    height: 12rem;
    width: 70%;
}
.contact{
    width: 80%;
    margin: 2rem auto;
}
.contact > p{
    width: 45%;
    line-height: 1.5rem;
}
.sub-form{
    display: grid;
    margin: 2rem 0;
    grid-template-columns: repeat(2, 1fr);
}
input, textarea{
    width: 80%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px groove #000;
    margin: 1rem 0;
}
input:hover, textarea:hover{
    border-color: var(--primary-color);
    background: rgb(243, 243, 243, 0.5);
}
textarea{
    resize: none;
    height: 7rem;
}
.sub-form button{
    background: var(--primary-color);
    color: var(--primary-Bg);
    padding: 0.7rem 1.5rem;
    border: #0087be;
    border-radius: 0.5rem;
    text-transform: uppercase;
    cursor: pointer;
}
.contact-side h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.contact-side i{
    color: var(--primary-color);
}
.contact-side a{
    margin-right: 1rem;
}
.social-link .fa-facebook-f{
    color: #3b5998;
}
.social-link .fa-twitter{
    color: #00acee;
}
.social-link .fa-whatsapp{
    color: #27b953;
}
.social-link .fa-linkedin{
    color: #0e76a8;
}
.social-link .fa-github{
    color: #333;
}

footer{
    background: var(--primary-dark);
    color: var(--primary-Bg);
    padding: 1rem;
    text-align: center;
}
.social-link{
    list-style: none;
    display: flex;
    margin-top: 1rem;
}
.social-link a{
    display: block;
    text-align: center;
}





#topBtn{
    display: none;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 100;
    background: #0087be;
    border-radius: 50%;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    border: none;
    color: #fff;
}
#topBtn:hover{
    background: #7e7d7d;
    color: #000;
}